
/*ZADANIE 1*/
.box{
    width: 200px;
    height: 200px;
    background-color: coral;
    
}

.box-inner{
    width: 100px;
    height: 100px;
    background-color: lightpink;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*
left:0
top:0
margin: 0 auto -wyśrodkowanie*/

/*ZADANIE 2*/

.przycisk {
    margin-top: 100px;
    border-radius: 50%;
    width:100px;
    height:100px;
    background-color: aqua;
    position: relative;
}

.przycisk > i{
    font-size: 40px;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    }


.przycisk:hover{
    background-color: #fff;
    border: 1px solid aqua;
    transition: all 0.3 linear;
    color: aqua

}


.przycisk > i:hover{
    color:aqua;
    transition: all 0s linear;
}

/*ZADANIE 3*/
/*gradient*/

.gradient{
    margin-top: 50px;
    width: 100%;
    height: 100px;
background: -webkit-linear-gradient(left,yellow,orange,red, violet, indigo, blue, green)
}

/*ZADANIE 4-RESPONISIVE VIDEO*/

video.video{
    width: 100%;
    height: 90vh;
    margin-top: 60px;
}

@media all{
    video.video{
        width: 100%;
    }
}

/*ZADANIE 5 IKONY*/

.fa-li fa fa-check-square{
    font-size: 1.5em;
    margin-top:50px;
}
/*zadanie 5 vol.2*/

ul.lista{
   list-style: none;
  
    font-size: 1.5em;
}

ul.lista li:before{
    font-family: 'FontAwesome';
     content: '\f058';
  
   color:aqua;
    
}

/*zadanie 6*/

.formularz{
    width:400px;
    height: 150px;
    background-color: cornflowerblue;
    margin-top: 50px;
    
}


form input{
    width: 87%;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #2b4a64;
    border: #2b4a64 0px;
    color:coral;
    margin: 10px;
}

/*zadanie 7*/

a[href$=".doc"]{
    color:aqua;
}
a[href$=".docx"]{
    color:coral;
}

/*zadanie 8*/

blockquote:lang(en)::before,
blockquote:lang(en)::after
{
    content:"*";
}

q:lang(en)::before, q:lang(en)::after{
    content:"*";
}

blockquote:not(en)::before, 
blockquote:not(en)::after{
    content:"'";
}

/*zadanie 9*/


footer{
   background-color: #142634;
    color: #fff;
    padding: 0 80px;
    text-align:center;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
}
footer p{
    margin: 0;
} 
    









